# to upgrade packages in existing env: pip install -r requirements.txt --upgrade

bsdiff4==1.2.*
packaging==21.*
requests
securesystemslib[crypto,pynacl]==0.22.*
tuf==1.1.*
sphinx==4.4.0
sphinx-rtd-theme
sphinx-sitemap
